{% extends 'base.html.twig' %}

{% block title %}Hello JeuxController!{% endblock %}

{% block body %}

<header class="">
    <div class="logo001 d-flex justify-content-center">
            <img src="{{asset("image/Game_Crafter01.png")}}" alt="logo">
    </div>

<div class="001 d-flex justify-content-center fs-2 d-flex gap-3 align-items-center">
			<p class="jeux mb-0">
				Jeux

			<p class="titre mb-0">
				- Titre

			<p class="description mb-0">
				- Description

			<p class="note mb-0">
                - Note

            <p class="catégorie_id mb-0">
                - Catégorie_id    
            </p>

{% endblock %}
