{% extends 'base.html.twig' %}

{% block title %}Aether core{% endblock %}

{% block body %}
    <h1>Voici le contenu de ma page d'accueil.</h1>
    <p>Le header est maintenant visible sur toutes les pages grâce à base.html.twig.</p>
{% endblock %}